<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head-custom.html %}
  </head>

  <body>

    <header>
      <div class="topside">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1><span class='myname fname'>{{ site.fname }}</span> <span class='myname mname'>{{ site.mname }}</span>.&nbsp&nbsp<span class='myname lname'>{{ site.lname }}</span>
</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <img id='logo' src="/assets/images/ADI.png" >

        <p  id="not_found" style="display:none" align="center"><strong>404</strong></p>
        <p  id="not_found_text" style="display:none" align="center"><strong>Page not found :(</strong></p>
        <p id="marvin" name="marvin" align="center"> </p>
      </div>


    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
        {% include section-projects.html %}
      </section>
    </div>
  </body>
</html>

